/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --textColor: #333;
  --borderColor: #ddd;
  --primaryColor: #d80f16;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.4rem;
  color: var(--textColor);
}

li {
  list-style: none;
}

a,
span {
  display: inline-block;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

/* luoi layout */
.grid {
  display: grid;
}

.grid.l4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid.l-9-3 {
  grid-template-columns: 9fr 3fr;
}

.grid.l8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid.l6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid.gap-10 {
  gap: 10px;
}

.row {
  display: flex;
  align-items: center;
}

.row.row-between {
  justify-content: space-between;
}

/* phan css noi dung */

header {
  position: fixed;
  top: 0;
  z-index: 4;
  background-color: #fff;
  inline-size: 100%;
}
.app {
  inline-size: 100%;
  margin-top: 65px;
}

#home {
  max-inline-size: 1280px;
  margin: 0 auto;
  margin-top: 10px;
}

.header--wrap {
  max-inline-size: 1280px;
  block-size: 64px;
  margin: 0 auto;
}

.header--fixed {
  position: relative;
  border-bottom: 1px solid var(--borderColor);
}

.header__logo img {
  max-inline-size: 155px;
}

header nav {
  inline-size: 450px;
  block-size: 100%;
  padding-left: 12px;
}

.header__nav {
  block-size: 100%;
  align-items: unset;
}

header nav li {
  margin-top: 16px;
  margin-bottom: 20px;
  border-radius: 20px;
  block-size: 30px;
  padding: 6px 16px;
  border: 1px solid var(--borderColor);
  cursor: pointer;
  transition: border 0.4s ease;
}

header nav li:hover {
  display: block;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 60px;
}

header nav li:hover .header__nav--absolute {
  display: block;
}

.header__input {
  inline-size: 310px;
  border-radius: 12px;
  border: 1px solid var(--borderColor);
  padding: 0 8px;
  margin-left: 12px;
}

.header__input input {
  font-size: 1.2rem;
  padding: 8px 6px;
  border: none;
  outline: none;
}

.header__input .input__search {
  color: #555;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
}

.header__inf {
  font-size: 2.4rem;
  color: #666;
  min-inline-size: 100px;
  float: right;
}

.inf__item {
  cursor: pointer;
}

.inf__item:hover {
  opacity: 0.7;
  transition: opacity 0.4s;
}

/* phan cua header phu absolut */
.header__nav--absolute {
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  z-index: 2;
  background-color: #fff;
  padding: 10px 0;
  inline-size: 100%;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.61);
}

.header__nav--absolute--wrap {
  max-inline-size: 1280px;
  margin: 0 auto;
}

.header__nav__item {
  position: relative;
  overflow: hidden;
  max-block-size: 85px;
}

.header__nav--absolute img {
  max-block-size: 100%;
}

.header__nav--absolute img:hover {
  transform: scale(1.3);
  transition: transform ease 0.4s;
}

.header__nav--absolute span {
  color: #fff;
  font-size: 1.2rem;
  position: absolute;
  bottom: 12px;
  left: 6px;
}

.slide {
  position: relative;
}

.slide img {
  inline-size: 100%;
  block-size: 100%;
  filter: brightness(70%);
}

.sub-slide img {
  inline-size: 100%;
}

.slide .slide__inf {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-size: 2.4rem;
  z-index: 3;
}

.slide__inf span.inf__small {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.slide__dot {
  min-inline-size: 80px;
  font-size: 0.8rem;
  color: #ccc;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.sub-slide {
  background-color: #1aa1c7;
  padding: 10px;
}

.main__item {
  margin-top: 32px;
}

.main__item__title {
  max-inline-size: 230px;
  margin-bottom: 14px;
}

.main__item__title i {
  font-size: 1.8rem;
}

.main__item h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}

.item__list--wrap {
  position: relative;
  overflow: hidden;
}

.item__list__inf {
  position: absolute;
  bottom: 16px;
  left: 0;
  color: #fff;
  padding: 0 14px;
  inline-size: 100%;
}

.item__list img {
  block-size: 100%;
  filter: brightness(75%);
  transition: transform ease 0.4s;
}

.item__list span.inf__name {
  font-size: 1.8rem;
}

.item__list--play {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: 30px;
  inline-size: 60px;
  block-size: 60px;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.508);
  border-radius: 50%;
  opacity: 0;
  transition: opacity ease 0.4s;
}

.best-new:hover img {
  transform: scale(1.3);
}

.best-new:hover .item__list--play {
  opacity: 1;
}
